.mobile iframe {    
    width:375px;
    height:640px ;
    border:1px solid #3e3e3e;
    border-radius: 20px;
}
.body{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: linear-gradient(#05295f, #07367c);
}
.general{
    /* width: 100%; */
    background: #05295f;
    color:#e3e3e3;
    transition: all 0.2s;
}
.general:hover{
    color:#3e3e3e;
    background: rgb(5, 41, 95,0.3);
}
.opaque{   
    background: rgb(250, 250, 250, 0.2);    
    transition: all .2s;
    cursor: pointer;
}
.btn-recherche {
    width:100px;
    height:40px;    
}
.btn-recherche:active {
    background: rgb(0,0,0,0.2);
}
.maxwidth{
    width: 100%;
}
.profil{
    width:40px!important;
    height:40px;
}
.emergancy{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}
.emergancy-bloc{
    width: 147px;
    height: 40px;
    position:relative;
    overflow:hidden;
    outline:0;
    border:none;
    transition-duration:.3s;
    transform:translate3d(0, 0, 0)
}
.btn{
    text-decoration:none;
    text-align:center;
    display:block;
    appearance:none;
    padding:0 10px;
    white-space:nowrap;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    outline:0;
    border:none;
    transition-duration:.3s;
    transform:translate3d(0, 0, 0)
}
.btn:active{
    background:rgba(0, 0, 0, .15)
}
.emergancy .icon{
    width:40px;
    height:100%;
}
.aboutcorona{
    position: relative;
}
.direction{
    position: absolute;
    right:0;
    top:50%;
    transform: translate(-50%,-50%);
    width: 55px;
    height: 55px;
    text-justify: auto;
    text-align: center;
}

.Symptomecorona {
    background:#05295f;
    overflow: hidden;
}
.learmore{
    width:100px;
}
.recherch{
    width:40px!important;
    height:40px;
}
.inforUpdate{
    position: absolute;
    left:50%;
    bottom:0;
    transform: translate(-50%,-50%);
    width: 300px;
    /* height: ; */
    z-index: 1;
    cursor:pointer;
}
.drapeau{
    width: 45px!important;
    height: 45px;
}
.barRed{
    background: linear-gradient(to right ,#ffc0cb,rgb(255, 255, 255,0.2));
}
.barGreen{
    background: linear-gradient(to right ,rgb(158, 235, 158),rgb(255, 255, 255,0.2));
}

.inforUpdate::before{
    content:"";
    position: absolute;
    top:0px;
    left:0px;
    width: 90%;
    height:100%;
    border-radius: inherit;
    background: rgb(250,250,250,0.6);
    transform-origin: bottom;
    transition: all .4s,width .3s .3s;
    color:#fff;
    z-index: -1;
    transform: translate(5px,-20px);
    margin:10px;
}
.inforUpdate::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 80%;
    height:100%;
    border-radius: inherit;
    background: rgb(250,250,250,0.2);
    transform-origin: bottom;
    transition: all .4s,width .3s .3s;
    color:#fff;
    z-index: -1;
    transform: translate(20px,-30px);
    margin:10px;
}
.inforUpdate::before:hover,
.inforUpdate::after:hover{
    transform: translate(10px, -30px);
}